<% content_for :content_panel do %>
<% hotkey_num = 1 %>
  <div class="row">
    <div class="col-1"></div>
    <div class="col justify-content-center monster-card">
      <div class="row">
        <span>
          <% if @message.blank? %>
            <%= raw("Cauldrons and flasks bubble and pop throughout the room.") %>
          <% else %>
            <%= raw(sanitize @message) %>
          <% end %>
        </span>
      </div>
      <div class="row">

        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Gems</th>
              <th scope="col">Effects</th>
            </tr>
          </thead>
          <tbody>
            <% PlayerPotion.not_owned(@player.id).find_each do |available| %>
            <tr>
              <th scope="row">
                <div>
                  <span class="badge badge-pill bg-success left_action_badge"><%= hotkey_num %></span>
                  <%= link_to "#{available.potion.name}", buy_potion_shops_path(player_id: @player.id, potion_id: available.potion.id), class: "shop_btn btn btn-warning rounded-pill" %>
                </div>
              </th>
              <td><%= "#{available.potion.cost}" %></td>
              <td><%= "#{available.potion.desc}" %></td>
              <% hotkey_num += 1 %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div>
          <span class="badge badge-pill bg-success left_action_badge"><%= hotkey_num %></span>
          <%= link_to "Leave", dash_menus_path(player_id: @player.id, message: "You breathe deeply after leaving the thick air of the alchemist.<br><br>What would you like to do?"), class: "action_btn btn btn-info rounded-pill" %>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
<% end %>

<%= render "layouts/mainframe" %>
