<% content_for :content_panel do %>
  <div class="row">
    <div class="col-2"></div>
    <div class="d-flex justify-content-center">
      <span class="text-span">
        <% if @message.blank? %>
          <%= raw("Rows of weapons and armor are neatly organized.<br>The shopkeeper asks 'Are you buying something?'<br>") %>
        <% else %>
          <%= raw(sanitize @message) %>
        <% end %>
      </span>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row">
    <div class="col justify-content-center monster-card">
      <div class="row">
        <span>
          <%= raw("Are you interested in Armor or Weapons?") %>
        </span>
      </div>
      <div id="monster-actions" class="row">
        <div class="col">
          <span class="badge badge-pill bg-success left_action_badge">1</span>
          <%= link_to "Armor", shop_armor_shops_path(player_id: @player.id), class: "action_btn btn btn-info rounded-pill", "data-hotkey": 1 %>
        </div>
        <div class="col">
          <span class="badge badge-pill bg-success left_action_badge">2</span>
          <%= link_to "Weapons", shop_weapons_shops_path(player_id: @player.id), class: "action_btn btn btn-info rounded-pill", "data-hotkey": 2 %>
        </div>
        <div class="col">
          <span class="badge badge-pill bg-success left_action_badge">3</span>
          <%= link_to "Leave", dash_menus_path(player_id: @player.id, message: "You leave the shop feeling like you got hustled.<br><br>What would you like to do?"), class: "action_btn btn btn-info rounded-pill", "data-hotkey": 3 %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/mainframe" %>
