<% content_for :content_panel do %>
  <div class="row">
    <div class="col-2"></div>
    <div class="col justify-content-center monster-card">
      <div class="row">
        <span>
          <% if @message.blank? %>
            <%= raw("You gaze upon the myriad weapons before you.") %>
          <% else %>
            <%= raw(@message) %>
          <% end %>
          <%= raw("<br>The shopkeeper agrees to pay you #{@player.reimburse_weapon_amount} gold for your #{@player.weapon.name}.") %>
        </span>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Gold</th>
              <th scope="col">Damage</th>
            </tr>
          </thead>
          <tbody>
            <% Weapon.all.find_each do |weapon| %>
            <tr>
              <th scope="row">
                <div>
                  <span class="badge badge-pill bg-success left_action_badge"><%= weapon.id %></span>
                  <%= link_to "#{weapon.name}", buy_weapon_shops_path(@player, weapon_id: weapon.id), class: "shop_btn btn btn-warning rounded-pill" %>
                </div>
              </th>
              <td><%= "#{weapon.cost}" %></td>
              <td><%= "#{weapon.mindmg}-#{weapon.maxdmg}" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div>
          <span class="badge badge-pill bg-success left_action_badge"><%= Weapon.last.id + 1 %></span>
          <%= link_to "Leave", dash_menus_path(@player, message: "You leave the shop feeling like you got hustled.<br><br>What would you like to do?"), class: "action_btn btn btn-info rounded-pill" %>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
<% end %>

<%= render "layouts/mainframe" %>
