<% if @disable_actions %>
<div class="glass-pane">
</div>
<% end %>

<div class="btn-group-vertical">
  <div>
    <span class="badge badge-pill bg-success left_action_badge">W</span>
    <%= link_to "Wilderness", wilderness_menus_path(player_id: @player.id, fight_id: nil), class: "action_btn btn btn-info rounded-pill" %>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">T</span>
    <%= link_to "Training", training_menus_path(player_id: @player.id), class: "action_btn btn btn-info rounded-pill" %>
    <% if @player.can_level? %>
    <span class="badge badge-pill bg-danger right_action_badge">!</span>
    <% end %>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">S</span>
    <%= link_to "Shop", shop_shops_path(player_id: @player.id), class: "action_btn btn btn-info rounded-pill" %>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">J</span>
    <%= link_to "Jeweler", jeweler_shops_path(player_id: @player.id), class: "action_btn btn btn-info rounded-pill" %>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">A</span>
    <%= link_to "Alchemist", alchemist_shops_path(player_id: @player.id), class: "action_btn btn btn-info rounded-pill" %>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">B</span>
    <%= link_to "Bard", bard_menus_path(player_id: @player.id), class: "action_btn btn btn-info rounded-pill" %>
    <% unless @player.used_bard %>
    <span class="badge badge-pill bg-danger right_action_badge">!</span>
    <% end %>
  </div>
  <div>
    <span class="badge badge-pill bg-success left_action_badge">H</span>
    <%= link_to "Healer", healer_menus_path(player_id: @player.id), class: "action_btn btn btn-info rounded-pill" %>
  </div>
</div>
