<p id="notice"><%= notice %></p>
<div class="container-fluid dash">
  <div class="row" id="header_row">
    <div class="col-3 dash_panel" id="settings_panel">
      <%= render "layouts/settings_panel" %>
    </div>
    <div class="col-8 dash_panel" id="timing_panel">
      <%= render "layouts/timing_panel" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3 dash_panel d-flex justify-content-center coverable" id="actions_panel">
      <%= render "layouts/action_buttons" %>
    </div>
    <div class="col-8 dash_panel" id="content_panel">
      <% if content_for?(:content_panel) %>
        <%= yield :content_panel %>
      <% end %>
    </div>
  </div>

  <div class="row" id="footer_row">
    <div class="col-3 dash_panel" id="context_panel">
      Empty
    </div>
    <div class="col-8 dash_panel" id="status_panel">
      <%= render "layouts/player_status" %>
    </div>
  </div>

  <div class="row" id="footer_row">
   <div class="col-3 dash_panel" id="context_panel">
      <%= render "layouts/potions" %>
    </div>
    <div class="col-8 dash_panel" id="status_panel">
      <%= render "layouts/trinkets" %>
    </div>
  </div>
</div>
